.container {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: lightgray;
}

.btn, .btn-equals, .btn-operations {

    margin: 0 3px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.btn-equals, .btn-memory {
    flex-grow: 2;
}

.btn-operations, .btn-equals {
  background-color: dimgray;
}

input[type="text"] {
   text-align: right;
}

.memory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 5px;
}