.container {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: lightgray;
}

.btn {
    border: 1px solid grey;
    margin: 0 3px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.equals {
    flex-grow: 2;
}

.operations, .equals {
  background-color: dimgray;
}

input[type="text"] {
   text-align: right;
}