.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: #DCDCDC;
}

.btn {
    background-color: lightgray;
}

.btn, .btn-equals, .btn-operations {

    margin: 0 3px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 5px;
}

.memory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.btn-equals, .btn-memory {
    flex-grow: 2;
}

.btn-operations, .btn-equals {
  background-color: dimgray;
}

input[type="text"] {
    text-align: right;
    width: 90%;
    margin: 5px auto;
    font-size: 15px;
    font-weight: 700;
    padding: 6px;
    box-shadow: 2px 0px 8px grey inset;
}

input[type="button"] {
    width: 20%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 7px;
}

select, select option {
    font-size: 15px;
    font-weight: 700;
    box-shadow: 2px 0px 8px grey inset;
}

span {
    text-align: center;
}
